html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 90%;
  background: white;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav {
  justify-content: center;
  padding: 1rem;
}

h1 {
  text-align: center;
}

p {
  width: 90%;
  margin: 0;
  padding: 1rem;
}

p.message {
  text-align: center;
  margin: 0;
  padding: 1rem;
}

ul li {
  padding: 1rem;
}

ul li a input {
  font-size: 24pt;
}
